@page "/paises"

<h2 class="container, text-center">Paises</h2>
<br />
<a class="btn btn-success" href="paises/crear">Nuevo</a>
<br />
<br />
<table class=" table table-secondary">
    <tr>
        <th>Código</th>
        <th>Nombre</th>
    </tr>
    @if (paises == null)
    {
        <tr>Cargando.....</tr>
    }
    else if (paises.Count == 0)
    {
        <tr>No existen paises</tr>
    }
    else
    {
        @foreach (var item in paises)
        {
            <tr>
                <td>@item.CodPais</td>
                <td>@item.NombrePais</td>
                <td><a class="btn btn-success" 
                       href="paises/editar/@item.Id/@item.CodPais/@item.NombrePais">
                    Editar
                    </a>
                </td>
                <td><button class="btn btn-dark" @onclick="()=>Eliminar(item)">Eliminar</button></td>
            </tr>
        }
    }
</table>

<Confirmacion  @ref="confirmacion" 
              onConfirm="GrabarEliminar"
              onCancel="Cancelar">
    <h1>Titulo interno</h1>
    <div>¿Desea eliminar el país?</div>
</Confirmacion>


@code {
    List<Locacion.Comunes.Data.Entidades.Pais> paises;
    Confirmacion confirmacion;
    string codPais = "";
    string nomPais = "";
    Locacion.Comunes.Data.Entidades.Pais eliminarPais;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        paises = new()
        {
            new Locacion.Comunes.Data.Entidades.Pais()
            { CodPais = "ar", NombrePais = "Argentina" },
            new Locacion.Comunes.Data.Entidades.Pais()
            { CodPais = "es", NombrePais = "España" }
        };
    }

    private void Eliminar(Locacion.Comunes.Data.Entidades.Pais paisEliminar)
    {
        confirmacion.Mostrar();
        codPais = paisEliminar.CodPais;
        nomPais = paisEliminar.NombrePais;
        eliminarPais = paisEliminar;
    }


    private void GrabarEliminar()
    {
        paises.Remove(eliminarPais);
        Cancelar();
    }

    private void Cancelar()
    {
        confirmacion.Ocultar();
        eliminarPais = null;
    }

}
